eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761
    register-with-eureka: true
    fetch-registry: true
  instance:
    hostname: localhost
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 10
    lease-expiration-duration-in-seconds: 30

gateway:
  server:
    port: 8999
